/* Base Tailwind imports */
@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* Custom utility classes */
@layer utilities {
  .bg-base {
    background-color: #efe4d2;
  }
  .text-primary {
    color: #131d4f;
  }

  .bg-accent {
    background-color: #254d70;
  }
  .bg-warm {
    background-color: #954c2e;
  }

  .text-accent {
    color: #254d70;
  }
  .text-warm {
    color: #954c2e;
  }
}

body {
  font-family: system-ui, sans-serif;
}
